.home-container {
  text-align: center;
  padding: 5px 50px;
 background-image: url('src/images/homepage .jpg'); /* Slight transparency effect */
  border-radius: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 9000px;
  margin:auto;
}

.home-page {
  background-color: rgb(21, 26, 26); /* Replace with your background image URL */
  background-size: auto;
  background-position: right;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Admin Section Styling */
.admin-section, .owner-section, .tenant-section {
  background-color: rgba(192, 101, 245, 0.051);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(20, 20, 20, 0.2);
  margin: 50px 50px;
  display: inline-block;
  width: 100%;
  max-width: 1000px;
}

h3 {
  color: #070707;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  background-color:rgb(103, 105, 106);
  margin: 3px 350px;
  border-radius:5px;
  color: rgb(250, 243, 243);
}