.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #e1868b, #787777);
    background-image: url('src/main/PMS home page background.jpg');
    padding: 10px 10px;
    color: rgb(13, 13, 13);
  }
  
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
    position: relative;
  }
  
  .nav-links a,
  .nav-links span {
    text-decoration: none;
    color: rgb(89, 87, 87);
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
  }
  
  .nav-links a:hover,
  .nav-links span:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(24, 24, 24);
    border-radius: 5px;
    overflow: hidden;
    min-width: 150px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu a {
    color: #333;
    padding: 10px 15px;
  }
  
  .dropdown-menu a:hover {
    background: #6ad2f4;
    color: rgb(8, 8, 8);
  }
  
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .not-found-container {
    text-align: center;
  }
  
  .not-found-image {
    background: #6ad2f4;
    width: 300px;
    height: auto;
    margin-top: 20px; 
  }
  
 